
extends layout 

block content 
   
        .container-.p-3.mb-1.bg-info.text-dark
            .px-4.py-2.my-4.text-center
                h1.display-5.fw South Travel agency
                h1.display-5.fw Contact us:
                .col-lg-6.mx-auto
                p.lead.mb-4.fs-4.text-wrap
                    | We are here to help you with your trips either vacation or business: >>> 1-888-888-888 >>> 24/7