extends layout 
block content
  main    
 
    .container
      .px-4.py-2.my-4.text-left
       
        h1.display-4.fw-bold South Travel agency
        h5.display-6.fw-bold Travel Around the World
      
    
        .col-lg-6.mx-lead.mb-4.fw-3.fst-text-center
          h5.COVI-19 Covid-19 support: 
           p.
                Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu.
         
  .container
  
    img(src='./images/image1.png', alt='Beach view', title='Welcome to South Travel agency ', width='50%', height='345')
    img(src='./images/image2.png', alt='closer', title='Welcome to South Travel agency', width='50%', height='345')

    h1.display-4.fw-bold.px-4.py-1.my-1.text-center
      | Pacakges
    h5.px-6.py-1.my-1.text-center 
      p.
       Qu'est-ce que le Lorem Ipsum?
       Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
   
    
 
                