doctype html
html
  head
    title= title

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
 
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css')
    script(src='/javascripts/index1.js')
    style.
    
  header
  .container-.p-3.mb-1.bg-info.text-dark
    nav.navbar.navbar-light.navbar-expand-lg.py-2
      .container-fluid
        a.navbar-brand.fs-1.fw-bold(href='#')
          img.d-inline-block.align-text-top(src='/logo.bmp' alt='' width='15px')
          |South Travel agency
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0.fs-4.fw-bold
            li.nav-item.ms-4
              a.nav-link.active(aria-current='page' href='/') Home
            li.nav-item.ms-4
              a.nav-link.active(href='/booking') Booking
            li.nav-item.ms-4
              a.nav-link.active(href='/register') Register
            li.nav-item.ms-4
              a.nav-link.active(href='/contact') Contact
           
  body
    block content
   
    footer.footer.py-3.shadow-lg.rounded.bg-none(style='position: relative; bottom: 0; width: 100%; margin-top: auto')
     .container.text-left
      h3  
        
        | Copy right
        sup &copy;
        |  2021
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
